@import 'compass/reset';
@import 'tab-ul';
body,p {
    padding: 0;
    margin: 0;
}
img {
    display: block;
    border: 0;
}
$rootSize: 100px;
html {
    font-size: $rootSize;
    font-family: 'Microsoft Yahei', Arial;
}
%center {
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    
    nav {
        height: 1.2rem;
        box-shadow: 0 2px 4px #666;
        @extend %center;
        a {
            display: inline-block;
            width: 0.5rem;
            height: 0.44rem;
            padding: 0 0.2rem;
            font-weight: bold;
            font-size: 0.26rem;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        a:nth-child(1) {
            background-image: url(../img/1.png)
        }
        a:nth-child(2) {
            background-image: url(../img/2.png)
        }
        a:nth-child(3) {
            width: 3.86rem;
            padding: 0;
            line-height: 0.44rem;
            text-align: center;
        }
        a:nth-child(4) {
            background-image: url(../img/3.png)
        }
        a:nth-child(5) {
            background-image: url(../img/4.png)
        }
    }
}
.nav {
    @extend %center;
    height: 0.8rem;
    a {
        padding: 0 0.4rem;
        font-size: 0.26rem;
    }
}
img {
    height: 5rem;
    width: 100%;
}
.go-goods {
    height: 2.92rem;
    text-align: center;
    letter-spacing: 0.05em;
    p:nth-child(1) {
        padding-top: 0.5rem; 
        font-size: 0.46rem;
        font-weight: bold;
    }
    p:nth-child(2) {
        padding: 0.1rem 0 0.4rem;
        font-size: 0.28rem;
    }
    p:nth-child(3) {
        width: 2rem;
        height: 0.6rem;
        margin: 0 auto;
        line-height: 0.6rem;
        font-size: 0.18rem;
        background-color: #000;
        color: #fff;
    }
}